.form-container {
    margin-left: 11%;
    width: calc(100% - 11%);
    margin-top: 20px;
    padding: 15px;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    transition: margin-left 0.3s ease, width 0.3s ease;

}

.form-content {
    padding: 2rem 3rem;
    position: absolute;
    align-content: center;


}

.form-titulo {
    font-size: 2.5rem;
    color: var(--color-verde-oscuro);
    padding-bottom: 0.5rem;
    position: relative;
}


.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(500px, 1fr));
    gap: 20px;
}

.btns {
    display: flex;
    gap: 12px;
    margin-top: 1rem;
}


.titulo-formulario::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 30%;
    height: 3px;
}

h2 {
    font-size: 1.7rem;
    color: var(--color-verde-principal);
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    border-left: 5px solid var(--color-verde-principal);

}



.form-item {
    padding: 1.5rem;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid var(--color-verde-oscuro);
    margin-bottom: 2rem;


}


.form-item label {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-verde-oscuro);
    line-height: 1.8;
    border-bottom: 2px solid var(--color-verde-oscuro);
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;

}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
    border-bottom: transparent;

}

.radio-group label:hover {
    background: var(--color-verde-suave);
}

input[type="radio"] {
    transform: scale(1.2);
    accent-color: var(--color-verde-principal);
    cursor: pointer;
}

.btn-formulario-nav,
.btn-enviar {
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
    max-width: 300px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.btn-formulario-nav {
    background: var(--color-verde-oscuro);
    color: white;
}

.btn-enviar {
    background: var(--color-verde-oscuro);
    color: white;
}

.btn-formulario-nav:hover {
    background-color: var(--color-verde-suave);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-enviar:hover {
    background-color: var(--color-verde-suave);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario-bienestar  {
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-agregar-pregunta {
    background-color: var(--color-verde-oscuro);
    color: white;
    font-weight: 600;
    border: none;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-agregar-pregunta:hover {
    background-color: var(--color-verde-suave);
}

.btns{
    display: flex;
    gap: 12px;
}
.acciones {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.acciones button {
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.acciones button.btn-editar {
    background-color: var(--color-verde-oscuro);
    color: white;
}

.acciones button.btn-editar:hover {
    background-color: var(--color-verde-suave);
}

.acciones button.btn-eliminar {
    background-color: #ff6464;
    color: #5e0303;
}

.acciones button.btn-eliminar:hover {
    background-color: #ffb3b3;
    color: #9c0d0d;
}
.seleccion-cuerpo-box {
    padding: 1.5rem;
    border-radius: 12px;
    height: 650px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid var(--color-verde-oscuro);
    margin-bottom: 2rem;
}

.seleccion-cuerpo-box label {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-verde-oscuro);
    line-height: 1.8;
    border-bottom: 2px solid var(--color-verde-oscuro);
}
