.historial-container {
    margin-left: 12%;
    width: calc(100% - 12%);
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100vh;
    margin-top: 2.5%;
    position: absolute;
    transition: margin-left 0.3s ease, width 0.3s ease;
}
.encabezado-historial {
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 10;
}

.titulo-historial {
    color: var(--color-dark-blue);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: sticky;
    margin-bottom: 10px;

}

.tab-button {
    padding: 10px ;
    border: 1px solid #ddd;
    border-radius: 12px;
    width: 40%;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.tab-button:hover {
    background-color: var(--color-light-cyan);
}

.tab-button.active {
    background-color: var(--color-dark-cyan);
    color: var(--color-dark-blue);
}

.historial-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.historial-list {
    margin-left: 7.5%;
    border-radius: 12px;
    width: 85%;
    max-height:85lvh;
    overflow-y: auto;
    text-align: left;
    box-sizing: border-box;
    flex-direction: column;
    gap: 20px;
}
.historial-item {
    background-color: var(--color-light-cyan);
    padding: 30px;
    font-size: 20px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

.historial-item p {
    margin: 15px 0;
}