@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --color-dark-blue: #03045e;
  --color-blue: #0077b6;
  --color-cyan: #00b4d8;
  --color-dark-cyan: #3FB7CD;
  --color-light-cyan: #90e0ef;
  --color-lighter-cyan: #caf0f8;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  background-color: #e7e7e7 !important;
}

