@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --color-dark-blue: rgba(3, 4, 94, 0.67);
  --color-blue: rgb(0, 119, 182);
  --color-cyan: #00b8d8;
  --color-dark-cyan: #3FB7CD;
  --color-light-cyan: #90e0ef;
  --color-lighter-cyan: #caf0f8;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  background-color: #e7e7e7 !important;
}
:root {
  --sidebar-width: 11%;
}



