@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --color-fondo: #e2e2e2;
  --color-card: rgba(255, 255, 255, 0.7);
  --color-blur: blur(8px);
  --color-negro: #d80020;
  --color-naranja-fuerte: #de2e03;
  --color-naranja-suave: #ff7c39;
  --color-amarillo: #ffa100;
  --color-amarillo-hover: #ffc867;
  --color-gris: #272525;
  --color-blanco: #ffffff;
  --color-verde-critico: #333333;
  --color-texto-principal: #212121;
  --color-borde-suave: #fc5c19;
  --sombra-suave: 0 2px 6px rgba(0, 0, 0, 0.1);
  --color-texto-secundario: #666;
  --color-borde: #e0e0e0;
  --color-azul: #1E90FF;
  --color-azul-oscuro: #0066CC;
  --color-azul-claro: #E3F2FD;
  --color-rojo: #F44336;
  --color-rojo-oscuro: #D32F2F;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--color-fondo) !important;
}




