@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --color-fondo: #f4fff2;
  --color-card: rgba(255, 255, 255, 0.6);
  --color-blur: blur(8px);
  --color-verde-principal: #2e6a2f;
  --color-verde-oscuro: #1B4332;
  --color-verde-hover: #388E3C;
  --color-verde-suave: #A5D6A7;
  --color-verde-hover-card: #D0EDD7;
  --color-verde-critico: #2E7D32;
  --color-texto-principal: #212121;
  --color-borde-suave: #C8E6C9;
  --sombra-suave: 0 2px 6px rgba(0, 0, 0, 0.1);
}





*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--color-fondo) !important;
}




