
.contenido-resultados {
    margin-left: 60px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;

}

.encabezado-resultados {
    background-color: transparent;
    padding: 30px 40px 10px 40px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.titulo-resultados {
    color: var(--color-dark-blue);
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.lista-resultados-scroll {
    height: 85%;
    width: 98%;
    overflow-y: auto;
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-resultado {
    display: flex;
    background-color: var(--color-light-cyan);
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    max-width: 80%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s;
}

.card-resultado:hover {
    background-color: var(--color-cyan);
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #d9bfff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 20px;
}

.info-resultado h4 {
    margin: 0;
    font-size: 18px;
    color: var(--color-dark-blue);
}

.info-resultado p {
    margin: 2px 0;
    font-size: 14px;
}
