.contenido-voluntarios {
    margin-left: 10%;
    width: calc(100% - 10%);
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100vh;
    position: absolute;
    transition: margin-left 0.3s ease, width 0.3s ease;
}

.encabezado-voluntarios {
    background-color: transparent;
    padding: 30px 40px 10px 40px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.titulo-voluntarios {
    color: var(--color-dark-blue);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.lista-voluntarios-scroll {
    height: 85%;
    width: 100%;
    overflow-y: auto;
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Tarjeta de reporte */
