
.resultado-container {
    margin-left: 12%;
    width: calc(100% - 12%);
    box-sizing: border-box;
    padding: 2%;
    overflow: hidden;
    min-height: 100vh;
    position: absolute;
    transition: margin-left 0.3s ease, width 0.3s ease;


}

.titulo-resultado {
    font-size: 2.5rem;
    color: var(--color-verde-oscuro);
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 1.1rem;
    color: #444;
    margin-bottom: 5px;
}

.resultados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    margin-top: 30px;
}

.categoria {
    border-radius: 8px;
    padding: 20px;
}

.categoria-titulo {
    font-size: 1.5rem;
    color: var(--color-verde-principal);
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.resultado-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.resultado-card {
    background-color: var(--color-card);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-left: 6px solid var(--color-verde-principal);
}

.resultado-card h4 {
    color: var(--color-verde-oscuro);
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.resultado-card p {
    margin: 3px 0;
    font-size: 0.95rem;
}